<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.deepesh.loginclient">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- HOME -->
        <activity
            android:name=".Home.LoginLogoutActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CREDENTIALS -->
        <activity
            android:name=".Credentials.CredentialsActivity"
            android:label="@string/title_activity_credentials"
            android:parentActivityName=".Home.LoginLogoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Home.LoginLogoutActivity" />
        </activity>

        <!-- PREVIOUS CONNECTIONS -->
        <activity
            android:name=".PrevConn.PrevConnActivity"
            android:label="@string/title_activity_prev_conn"
            android:parentActivityName=".Home.LoginLogoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Home.LoginLogoutActivity" />
        </activity>

        <!-- SETTINGS -->
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Home.LoginLogoutActivity"
            android:theme="@style/PrefTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Home.LoginLogoutActivity" />
        </activity>

        <!-- ADVANCED SETTINGS -->
        <activity
            android:name=".Settings.AdvSetActivity"
            android:label="@string/pref_title_adv_set"
            android:parentActivityName=".Settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Settings.SettingsActivity" />

            <intent-filter>
                <action android:name="tk.deepesh.loginclient.Settings.AdvSet.AdvSetActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- ABOUT -->
        <activity
            android:name=".About.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Home.LoginLogoutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Home.LoginLogoutActivity" />
        </activity>
        <activity
            android:name=".Settings.IndivSsidActivity"
            android:label="@string/title_activity_indiv_ssid"
            android:parentActivityName=".Settings.AdvSetActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Settings.AdvSetActivity" />
        </activity>
        <activity
            android:name=".Settings.IndivUrlActivity"
            android:label="@string/title_activity_indiv_url"
            android:parentActivityName=".Settings.IndivSsidActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.deepesh.loginclient.Settings.IndivSsidActivity" />
        </activity>

        <service android:name=".AutoLoginService" />

    </application>

</manifest>